:root{
    --main-color:#FF0000;
    --secondary-color:#FFFFFF;
    --main-font-color:#FFFFFF;
    --secondary-font-color:#b2b2b2;
    --main-border-color:#ff00004d;
    --secondary-border-color:#ffffff29;
    --main-bg-color:#28272c;
    --secondary-bg-color:#FFFFFF;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1024px;
}
header{
    background: url("../images/image.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: var(--secondary-color);
}

.nav{
    background: #00000066 0% 0% no-repeat padding-box;
    border-bottom: 2px solid #ffffff33;
}
.nav .container {
    display:flex;
    justify-content: space-between;

}
.nav_menu {
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
}
.nav_menu_item{
    padding: 2em;
}
.nav_menu_item:hover {
    background-color:#6a6a6a;

}
